<div class="container-fluid" ng-controller="customerProductDetailsController" ng-init="init()">
    <h1 class="page-header">Custom Product Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/custom-product/list">Custom Product</a></li>
        <li class="active">Details</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label>Product Type</label>
                        <input type="text" ng-model="customerProduct.productType" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Product</label>
                        <input type="text" ng-model="customerProduct.productName" class="form-control" readonly>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Customer</label>
                        <input type="text" ng-model="customerProduct.customerName" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Line Route</label>
                        <input type="text" ng-model="customerProduct.lineRoute" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Sales Rep</label>
                        <input type="text" ng-model="customerProduct.employeeName" class="form-control" readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Period From</label>
                        <input type="text" ng-model="customerProduct.periodFrom" class="form-control" readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Period To</label>
                        <input type="text" ng-model="customerProduct.periodTo" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="customerProduct.otherInfo" rows="2" class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-6 text-left">
                        <a type="button" class="btn btn-md btn-primary-outline" href="#/custom-product/create">Create New</a>
                        <a type="button" class="btn btn-md btn-primary-outline" href="#/order-taking/create/{{customerProduct.customerId}}">Create New Order</a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#confirmDialog">Delete</button>
                    </div>
                </div>
            </form>
        </div>
        <confirm-dialog confirm-message="'Are you sure you want to delete this?'" on-okay="updateDeleteStatus()"></confirm-dialog>
    </div>
</div>
