<div class="container-fluid" ng-controller="customerProductListController" ng-init="init()">
    <h1 class="page-header">Custom Products</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Custom Products</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="false" enable-delete="true">
                <actions>
                    <action text="Delete" command="delete"></action>
                </actions>
                <columns>
                    <code header="Code"></code>
                    <productName header="Product"></productName>
                    <customerName header="Customer"></customerName>
                    <employeeName header="Sales Rep"></employeeName>
                    <lineRoute header="Line Route"></lineRoute>
                    <periodFrom header="Period From"></periodFrom>
                    <periodTo header="Period To"></periodTo>
                </columns>
            </grid>
        </div>
    </div>
</div>