<div class="container-fluid" ng-controller="employeeCreateController" ng-init="init()">
    <h1 class="page-header">{{ isEditing ? "Edit Employee" : "New Employee" }}</h1>
    <ol class="breadcrumb">
        <li><a href="#/employee/list">Employee</a></li>
        <li class="active">{{ isEditing ? "Edit Employee" : "New Employee" }}</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-md">
            <div class="form-container">
                <form novalidate name="form" confirm-on-exit>
                    <div class="row" ng-if="errorMessage !== null">
                        <div class="col-sm-8">
                            <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group" ng-class="{'has-error' : (form.$submitted && form.name.$error.required)}">
                            <label required>Full Name</label>
                            <input type="text" name="name" ng-model="employee.name" class="form-control" required="" maxlength="500">
                            <span class="help-block" ng-if="form.$submitted && form.name.$error.required">Name is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : ((form.nic.$error.pattern && !form.nic.$pristine) || (form.$submitted && form.nic.$error.required))}">
                            <label required>NIC</label>
                            <input type="text" name="nic" ng-model="employee.nic" ng-pattern="nicValidateFormat" class="form-control" required="" maxlength="10"
                                ng-model-options="{ updateOn: 'blur' }">
                            <span class="help-block" ng-if="form.$submitted && form.nic.$error.required">NIC is required</span>
                            <span class="help-block" ng-if="(form.nic.$error.pattern && !form.nic.$pristine)">Invalid NIC</span>
                        </div>
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.employeeId.$error.required)}">
                            <label required>Employee Id</label>
                            <input type="text" name="employeeId" ng-model="employee.employeeId" class="form-control" required="" maxlength="25">
                            <span class="help-block" ng-if="form.$submitted && form.employeeId.$error.required">Employee Id is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Mobile No 1</label>
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="employee.mobile1" class="form-control"
                                    maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Mobile No 2</label>
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="employee.mobile2" class="form-control"
                                    maxlength="10">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fixed Line</label>
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="employee.fixedLine" class="form-control"
                                    maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error' : (form.email.$invalid && !form.email.$pristine)}">
                                <label>Email</label>
                                <input type="email" name="email" ng-model="employee.email" class="form-control" ng-model-options="{ updateOn: 'blur' }">
                                <span class="help-block" ng-if="form.email.$invalid && !form.email.$pristine">Invalid Email Address</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Emergency Contact</label>
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="employee.emergencyContact" class="form-control"
                                    maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Emergency Contact Name</label>
                                <input type="text" ng-model="employee.contactName" class="form-control" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea name="address" ng-model="employee.address" rows="3" class="form-control" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Other Information</label>
                                <textarea name="otherInfo" ng-model="employee.otherInfo" rows="2" class="form-control" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-button-bar">
                                <div class="row">
                                    <div class="col-sm-3 text-left">
                                        <button type="button" class="btn btn-md btn-primary-outline" ng-click="backToList()">Back to List</button>
                                    </div>
                                    <div class="col-sm-9 text-right">
                                        <!--<button type="button" class="btn btn-md" ng-click="createNew()">Create New</button>-->
                                        <button ng-if="!isEditing" type="reset" class="btn btn-md btn-default">Reset</button>
                                        <button ng-if="showSaveButton" type="submit" class="btn btn-md btn-primary" ng-click="save(employee)">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>