<div class="container-fluid hidden-print" ng-controller="deliveryTrackingController" ng-init="init()">
    <h1 class="page-header">Delivery Tracking</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#/">Dashboard</a>
        </li>
        <li class="active">Delivery Tracking</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Delivery Status</label>
                        <select class="form-control" data-allow-clear="false" searchable="false" ng-model="deliveryStatus">
                            <option value="" selected="selected">All</option>
                            <option value="ordered">Ordered</option>
                            <option value="loaded">Loaded</option>
                            <option value="delivered">Delivered</option>
                            <option value="returned">Returned</option>
                        </select>
                    </div>
                </div>
                <hr ng-if="loadingList.length > 0">
                <div class="row" ng-if="showNoResultMassage">
                    <div class="col-sm-12">Woohoo! You've delivered all the customer orders.</div>
                </div>
                <div class="row" ng-if="isLoadingItems">
                    <div class="col-md-12">
                        <div class="spinner sm"></div>
                    </div>
                </div>
                <div class="row" ng-if="itemList.length > 0">
                    <div class="col-sm-12">
                        <label>Issued Items</label>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Customer</td>
                                        <td>Label</td>
                                        <td>Term</td>
                                        <td class="text-right">Collective
                                            <br>Amount</td>
                                        <td class="text-right">Collected
                                            <br>Amount</td>
                                        <td>Ordered As</td>
                                        <td>Item Details</td>
                                        <td>Status</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="compositeItem in itemList | filter : deliveryStatus || '' track by $index">
                                        <th class="table-select-column">
                                            <input type="checkbox" ng-model="compositeItem.isSelected" />
                                        </th>
                                        <td ng-bind="::compositeItem.customerName"></td>
                                        <td ng-bind="::compositeItem.compositeItemLabel"></td>
                                        <td ng-bind="::compositeItem.term"></td>
                                        <td class="text-right" ng-bind="::compositeItem.collectiveAmount"></td>
                                        <td class="text-right" ng-switch="compositeItem.status">
                                            <span ng-switch-when="loaded" class="pull-right">
                                                <input type="text" format="currency" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="compositeItem.collectedAmount"
                                                    class="form-control input-sm text-right">
                                            </span>
                                            <span ng-switch-default ng-bind="::compositeItem.collectedAmount"></span>
                                        </td>
                                        <td ng-bind="compositeItem.itemOrderedAs"></td>
                                        <td>
                                            <div ng-if="compositeItem.items" ng-repeat="item in compositeItem.items">
                                                <span>{{ ::item.itemCode }} : {{ ::item.itemName }} - {{ ::item.quantity }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge" ng-bind="compositeItem.status | uppercase"></span>
                                        </td>
                                        <td class="table-action-column">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeItem($event, $index)">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-if="itemList.length > 0">
                    <hr>
                    <div class="row">
                        <div class="col-sm-1 form-group">
                            <label>Mark As</label>
                        </div>
                        <div class="col-sm-2 form-group">
                            <select class="form-control" data-allow-clear="false" searchable="false" ng-model="$parent.changedStatus">
                                <option value="1">Ordered</option>
                                <option value="2">Loaded</option>
                                <option value="3">Delivered</option>
                                <option value="4">Returned</option>
                            </select>
                        </div>
                        <div class="col-sm-2 form-group">
                            <button ng-disabled="!changedStatus" type="submit" class="btn btn-primary" ng-click="saveChanges()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
