<div class="container-fluid" ng-controller="loginController" ng-init="init()">
    <div class="login-wrapper-container">
        <div class="login-wrapper">
            <div class="loading-panel" ng-if="loadingConfig">
                <span class="spinner md"></span>
            </div>

            <div class="login-window" ng-if="!loadingConfig">
                <p class="logo-wrapper">
                    <img src="/images/logo.svg" />
                </p>
                <div>
                    <form novalidate name="frmLogin">
                        <div class="form-group" ng-class="{'has-error' : (frmLogin.$submitted && frmLogin.username.$error.required)}">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" ng-model="user.username" required="" autocomplete="off" />
                            <span class="help-block" ng-if="frmLogin.$submitted && frmLogin.username.$error.required">Username is required</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : (frmLogin.$submitted && frmLogin.password.$error.required)}">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" ng-model="user.password" required="" autocomplete="off" />
                            <span class="help-block" ng-if="frmLogin.$submitted && frmLogin.password.$error.required">Password is required</span>
                        </div>
                        <div class="login-error" role="alert" ng-if="errorMessage !== null" ng-bind="errorMessage">
                        </div>
                        <button type="submit" btn-loading="loading" btn-loading-text="Please wait..." btn-loading-spinner="true" class="login ok"
                            ng-click="submit(user)">Log in</button>
                        <button type="reset" class="btn-login cancel" ng-click="reset(frmLogin)">Reset</button>
                    </form>
                
                    <p class="password-recover-placeholder">
                        <a href="#">Forgot your password?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>