<div class="custom-product-summary-panel" ng-if="!loading">
    <h4>Payment History</h4>
    <div>
        <table class="table table-hover table-border-outline">
            <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-right">To be collected</th>
                    <th class="text-right">Colected</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="payment in payments">
                    <td>{{payment.date}}</td>
                    <td class="text-right">{{payment.collectiveAmount | currency : 'Rs'}}</td>
                    <td class="text-right">{{payment.collectedAmount | currency : 'Rs' }}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="text-right" colspan="2">Collected Amount</td>
                    <td class="text-right">{{ collectedTotal | currency : 'Rs' }}</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="2">To be collected</td>
                    <td class="text-right">{{ totalAmount | currency : 'Rs' }}</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="2">
                        <h4>Due Amount</h4>
                    </td>
                    <td class="text-right">
                        <h4>{{ totalAmount - collectedTotal | currency : 'Rs' }}</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>