<div class="order-taking-view" ng-controller="orderTakingProductSelectController" ng-init="init()">
    <!--getAllCustomerProductItems-->
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" name="keyword" ng-model="keyword" placeholder="Keyword" class="form-control" ng-enter="search($event)"
                    ng-change="onKeywordChange($event, keyword)" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search($event)" ng-enter="search($event)" title="Search">
                        <i class="fa fa-search" ng-if="!loading" aria-hidden="true"></i>
                        <i class="spinner" ng-if="loading" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="ui-cards">
                <li class="ui-card loose" ng-repeat="compositeItem in compositeItems" composite-item-id="{{ compositeItem.id }}" ng-click="select($event, compositeItem)">
                    <div class="header-wrapper">
                        <div class="header-text">
                            {{::compositeItem.label}}
                        </div>
                        <div class="close-placeholder">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="body-wrapper">
                        <ul class="list">
                            <li ng-repeat="item in compositeItem.items track by $index">
                                <div class="secondry-text">{{item.code}}</div>
                                <div>{{item.quantity}} x {{ item.name }}</div>
                            </li>
                        </ul>

                    </div>
                    <div class="footer-wrapper">
                        <span class="footer-label free" ng-if="::compositeItem.isFree">FREE</span>
                        <span class="footer-label text">{{compositeItem.items.length}} items</span>
                    </div>
                    <li>
            </ul>
            <div class="alert-area-wrapper" ng-if="!keyword">
                <div class="text-center">Please enter keyword to search</div>
            </div>
            <div class="alert-area-wrapper text-center" ng-if="keyword && compositeItems && compositeItems.length === 0">
                <p>Sorry we couldn't find any matches for
                    <u>{{keyword}}</u>
                </p>
            </div>
        </div>
    </div>
</div>