<div class="container-fluid" ng-init="init()">
    <h1 class="page-header">Order Tracking</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Order Tracking</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>
</div>