<div class="container-fluid order-taking-view">
    <h1 class="page-header">Order Taking</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#/">Dashboard</a>
        </li>
        <li>
            <a href="#/customer/list">Customer</a>
        </li>
        <li>
            <a href="#/order-tracking/list">Order Taking</a>
        </li>
        <li class="active">New</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':isLoading}" ajust-loading>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-window relative" ng-class="{'form-md':step === 'step1', 'form-lg':step === 'step2',}" ng-switch="step">
                    <a class="floating-button" ng-if="step === 'step1'" ng-href="#/custom-product/create" role="button" data-toggle="tooltip"
                        data-placement="top" title="Add custom product">
                    </a>
                    <!-- Step 1 -->
                    <div class="form-container" ng-switch-when="step1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-section">
                                    Customer
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Name</label>
                                        <p class="form-control-static" ng-bind="customer.name"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>NIC</label>
                                        <p class="form-control-static" ng-bind="customer.nic"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Route</label>
                                        <p class="form-control-static" ng-bind="customer.lineRoute"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr/>
                                <p>
                                    <strong>Select a product bellow</strong>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive" ng-if="products && products && products.length > 0">
                                    <table class="table table-hover table-border-outline">
                                        <thead>
                                            <tr>
                                                <td>Code</td>
                                                <td>Name</td>
                                                <td>Type</td>
                                                <td class="text-right">Amount</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="product in products track by $index" ng-click="selectProduct(product)" ng-class="{'highlight': product.selected}">
                                                <td ng-bind="product.code"></td>
                                                <td ng-bind="product.name"></td>
                                                <td ng-bind="product.productType"></td>
                                                <td class="text-right" ng-bind="product.amount | number : 2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="products.length === 0">
                                    <strong>Empty !</strong>
                                    <p>No products to display here. Click
                                        <a href="#/custom-product/create">here</a> to assign a product</p>
                                </div>
                                <!--
                                    <div class="empty-message">
                                        <div class="icon"></div>
                                        <div>
                                            <p class="message">Template is empty</p>
                                            <span class="help-text">There are no items display here. </span>
                                        </div>
                                    </div>
                                -->
                            </div>
                        </div>

                    </div>
                    <!-- Step 2-->
                    <div class="form-container" ng-switch-when="step2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-section">
                                    Custom Products
                                    <button type="button" class="btn btn-default pull-right" ng-click="selectAnotherProduct()">Back</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="waiting">
                            <div class="col-md-12">
                                <div class="spinner sm center-screen"></div>
                            </div>
                        </div>
                        <div class="row default-templates-wrapper">
                            <div class="col-sm-12">
                                <div class="clearfix">
                                    <div>
                                        <i class="glyphicon glyphicon-list-alt"></i> <strong>{{ selectedProduct.productType }} Template</strong>
                                        <hr/>
                                        <p>{{selectedProduct.name}} - ({{selectedProduct.code}})
                                            <br/>
                                            <span class="amount">{{selectedProduct.amount | currency:'Rs '}}</span>
                                        </p>
                                    </div>
                                    <div ng-if="selectedProduct.productType !== 'Mixed'">
                                        <ul class="ui-cards">
                                            <li class="ui-card loose-left-bottom ui-widget-snap draggable-item" ng-repeat="compositeItem in compositeItems" composite-item-id="{{ compositeItem.id }}"
                                                draggable>
                                                <div class="header-wrapper">
                                                    <div class="header-text">
                                                        {{::compositeItem.label}}
                                                    </div>
                                                </div>

                                                <div class="body-wrapper">
                                                    <ul class="list">
                                                        <li ng-repeat="item in compositeItem.items track by $index" title="{{item.code }}">
                                                            <div class="secondry-text">{{item.code}}</div>
                                                            <div>{{item.quantity}} x {{ item.name }}</div>
                                                        </li>
                                                    </ul>

                                                </div>
                                                <div class="footer-wrapper">
                                                    <span class="footer-label free" ng-if="::compositeItem.isFree">FREE</span>
                                                    <span class="footer-label text">{{compositeItem.items.length}} items</span>
                                                </div>
                                                <li>
                                        </ul>
                                        <div ng-if="compositeItems && compositeItems.length === 0">
                                            <div class="empty-message">
                                                <div class="icon"></div>
                                                <div>
                                                    <p class="message">Template is empty</p>
                                                    <span class="help-text">There are no items display here. </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="terms">
                                    <li ng-repeat="term in terms" class="term ui-widget-snap clearfix" droppable="onDropProduct(event, ui)">
                                        <div class="term-name-container">
                                            <div class="term-name" ng-bind="term.name"></div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Amount to be collected</label>
                                                <input type="number" class="form-control" ng-model="term.collectiveAmount" ng-disabled="!term.canEditCollectiveAmount" style="width:75px"
                                                    ng-blur="saveAmmountToBeCollected($event, term.id, term.collectiveAmount, '{{term.collectiveAmount}}')"
                                                />
                                            </div>
                                            <button type="button" class="btn btn-default" ng-click="showAddNewProductItemPopup($event, term)">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Item
                                            </button>
                                        </div>
                                        <div class="composite-item-container">
                                            <ul class="ui-cards">
                                                <li class="ui-card loose-left-bottom" ng-repeat="compositeItem in term.items" ng-class="{'returned': compositeItem.status === 4 }">
                                                    <div class="header-wrapper">
                                                        <div class="header-text">
                                                            {{::compositeItem.label}}
                                                        </div>
                                                        <div class="close-placeholder">
                                                            <button type="button" class="close" ng-if="compositeItem.status == 1" ng-click="removeItemFromTerm(term, compositeItem, $index)">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="body-wrapper">
                                                        <ul class="list">
                                                            <li ng-repeat="item in compositeItem.items track by $index">
                                                                <div class="secondry-text">{{item.code}}</div>
                                                                <div>{{item.quantity}} x {{ item.name }}</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="footer-wrapper">
                                                        <span class="footer-label free" ng-if="::compositeItem.isFree">FREE</span>
                                                        <span class="footer-label status" ng-switch="compositeItem.status">
                                                            <span ng-switch-when="1" title="Ordered">
                                                                <i class="fa fa-check" aria-hidden="true"></i> Ordered</span>
                                                            <span ng-switch-when="2" title="Loaded">
                                                                <i class="fa fa-truck" aria-hidden="true"></i> Loaded</span>
                                                            <span ng-switch-when="3" title="Delivered">
                                                                <i class="fa fa-check-square text-success" aria-hidden="true"></i> Delivered</span>
                                                            <span ng-switch-when="4" title="Returned">
                                                                <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i> Returned</span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row custom-product-summary-wrapper">
                            <div class="col-sm-12">
                                <custom-product-summary custom-product-id="selectedProduct.id"></custom-product-summary>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- popup -->
<div id="addProductItemPopup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Search Product Item</h4>
            </div>
            <div class="modal-body">
                <ng-include src="'order-taking/order-taking-product-select.html'"></ng-include>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelLabeling()">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </form>
</div>
<!-- /.modal -->
</div>
</div>