<div class="container-fluid" ng-controller="dashboardController" ng-init="init()">
    <div ng-if="visible">
        <h1 class="page-header">Dashboard</h1>
        <div class="row">
            <div class="col-md-6">
                <dashboard-out-of-stock/>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </div>
</div>