<div class="container-fluid" ng-controller="lineCreateController" ng-init="init()">
	<h1 class="page-header">{{ isEditing ? "Edit Line" : "New Line" }}</h1>
	<ol class="breadcrumb">
		<li><a href="#/line/list">Line</a></li>
		<li class="active">{{ isEditing ? "Edit Line" : "New Line" }}</li>
	</ol>
	<div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
		<div class="form-window form-md form-container">
			<form novalidate name="form" confirm-on-exit>
				<div class="row" ng-if="errorMessage !== null">
					<div class="col-sm-12">
						<div class="alert alert-danger" role="alert" ng-bind="errorMessage">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.code.$error.required)}">
						<label>Code</label>
						<input type="text" name="code" ng-model="line.code" class="form-control" required="" maxlength="500">
						<span class="help-block" ng-if="form.$submitted && form.code.$error.required">Code is required</span>
					</div>
					<div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.route.$error.required)}">
						<label>Route</label>
						<input type="text" name="route" ng-model="line.route" class="form-control" required="" maxlength="500">
						<span class="help-block" ng-if="form.$submitted && form.route.$error.required">Route is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 form-group date">
						<label>Inspection Dates</label>
						<input type="text" maxlength="50" name="lineDate" ng-model="line.lineDate" placeholder="d1, d2, ..." class="form-control">
					</div>
					<div class="col-sm-6 form-group" ng-if="!showLoading">
                        <label>Sales Rep</label>
                        <select class="form-control" data-placeholder="Please select" data-allow-clear="true"
                            ajax-data-url="/api/employees/search/active" ajax-data-cache="true" config="empoyeeSearchConfig"
							style="width:100%">
                        </select>
                    </div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<label>Note</label>
						<textarea name="note" ng-model="line.note" rows="2" class="form-control" maxlength="5000"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-button-bar">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4 text-left">
										<a ng-if="isEditing" type="button" class="btn btn-primary-outline" href="#/line/create">Create New</a>
									</div>
									<div class="col-md-8 text-right">
										<button ng-if="isEditing" type="button" class="btn btn-default" ng-click="cancelLineView()">Back to List</button>
										<button ng-if="!isEditing" type="reset" class="btn btn-default">Reset</button>
										<button type="submit" class="btn btn-primary" ng-click="save(line)">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>