<div class="container-fluid hidden-print" ng-controller="issueCreateController" ng-init="init()">
    <h1 class="page-header">Issue Item</h1>
    <ol class="breadcrumb">
        <li><a href="#/item-issue/list">Item Issue</a></li>
        <li class="active">New Item(s) Issue</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Sales Rep</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="issue.employeeId" data-allow-clear="true" ajax-data-url="/api/employees/search/active"
                            ajax-data-cache="true" config="empoyeeSearchConfig" style="width:100%">
                            </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Issued Date</label>
                        <input type="date" ng-model="issue.issuedDate" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Inventory Item</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="selectedInventoryItem" data-allow-clear="true" ajax-data-url="/api/inventory/search/available"
                            ajax-data-cache="true" config="inventorySearchConfig" style="width:100%">
                            </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-block btn-primary" ng-click="addItem()">Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive" ng-if="issue.items.length > 0">
                            <table class="table table-hover table-border-outline">
                                <thead>
                                    <tr>
                                        <td>Item Code</td>
                                        <td>Inventory Code</td>
                                        <td>Name</td>
                                        <td class="text-right">Quantity</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in issue.items track by $index">
                                        <td ng-bind="item.itemCode"></td>
                                        <td ng-bind="item.inventoryCode"></td>
                                        <td ng-bind="item.itemName"></td>
                                        <td>
                                            <div class="pull-right"><input id="item{{ item.inventoryId }}" type="number" min="1" ng-model="item.quantity"
                                                    class="form-control input-sm text-right" style="width: 100px;" /></div>
                                        </td>
                                        <td class="table-action-column">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeItem($event, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges(issue, false)">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>