<div class="container-fluid hidden-print" ng-controller="itemLoadingController" ng-init="init()">
    <h1 class="page-header">Loading Sheet</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#/">Dashboard</a>
        </li>
        <li class="active">New Loading Sheet</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Line Route</label>
                        <select class="form-control" data-placeholder="Please select" data-allow-clear="true" ajax-data-url="/api/lines/search" ajax-data-cache="true"
                            config="linesSearchConfig" style="width:100%">
                        </select>
                    </div>
                </div>
                <hr>
                <div ng-if="loadingSheet.lineId && !isLoadingItems && loadingList.length === 0">
                    No orders by customers in this route.
                </div>
                <div class="row" ng-if="isLoadingItems">
                    <div class="col-md-12 text-center">
                        <div class="spinner sm"></div>
                    </div>
                </div>
                <div ng-if="loadingList.length > 0">
                    <h5>Add Custom Order</h5>
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label>Customer</label>
                            <select id="customerSearchSelect" class="form-control" data-placeholder="Please select" data-allow-clear="true" ajax-data-url="/api/customers"
                                ajax-data-cache="true" config="customerSearchConfig" style="width:100%">
                            </select>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Inventory</label>
                            <select id="inventorySearchSelect" class="form-control" data-placeholder="Please select" data-allow-clear="true" ajax-data-url="/api/inventory/search/available"
                                ajax-data-cache="true" config="inventorySearchConfig" style="width:100%">
                            </select>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label>Quantity</label>
                            <input type="number" min="1" class="form-control" ng-model="loadingItem.quantity">
                        </div>
                        <div class="col-sm-2 form-group">
                            <label>Ordered As</label>
                            <br>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ loadingItem.itemOrderedAs }} &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-repeat="status in itemOrderAsStatuses" ng-click="changeItemOrderAs($event, status)" ng-bind="status" href="#"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-block btn-primary" ng-click="addItem()">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Today's Deliveries</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td>Customer</td>
                                            <td>Label</td>
                                            <td>Term</td>
                                            <td class="text-right">Collective
                                                <br>Amount</td>
                                            <td class="text-right">Due
                                                <br>Amount</td>
                                            <td>Ordered As</td>
                                            <td>Item Details</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="compositeItem in loadingList track by $index" ng-class="{ 'info' : !compositeItem.id }">
                                            <th class="table-select-column">
                                                <input type="checkbox" ng-model="compositeItem.isSelected" />
                                            </th>
                                            <td ng-bind="::compositeItem.customerName"></td>
                                            <td ng-bind="::compositeItem.compositeItemLabel"></td>
                                            <td ng-bind="::compositeItem.term"></td>
                                            <td class="text-right" ng-bind="::compositeItem.collectiveAmount | number : 2"></td>
                                            <td class="text-right" ng-bind="::compositeItem.dueAmount | number : 2"></td>
                                            <td ng-bind="compositeItem.itemOrderedAs"></td>
                                            <td>
                                                <div ng-if="compositeItem.items" ng-repeat="item in compositeItem.items">
                                                    <span>{{ ::item.itemCode }} : {{ ::item.itemName }} - {{ ::item.quantity }}</span>
                                                </div>
                                                <div ng-if="compositeItem.itemId">
                                                    <span>{{ ::compositeItem.itemCode }} : {{ ::compositeItem.itemName }} - {{
                                                        ::compositeItem.quantity }}</span>
                                                </div>
                                            </td>
                                            <td class="table-action-column">
                                                <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeItem($event, $index)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Sales Rep</label>
                                <select class="form-control" data-placeholder="Please select" ng-model="employeeId" data-allow-clear="true" ajax-data-url="/api/employees/search/active"
                                    ajax-data-cache="true" config="empoyeeSearchConfig" style="width:100%">
                                </select>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label>Vehicle No</label>
                                <input type="text" ng-model="loadingSheet.vehicleNo" class="form-control">
                            </div>
                            <div class="col-sm-2 form-group">
                                <label>Date</label>
                                <input type="date" ng-model="loadingSheet.loadingDate" class="form-control">
                            </div>
                            <div class="col-sm-1 form-group"></div>
                            <div class="col-sm-3 form-group">
                                <label>&nbsp;</label>
                                <button ng-disabled="isLoadingSheetGenerated" type="button" class="btn btn-block btn-primary" ng-click="saveChanges()">Generate Loading Sheet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id='print'></div>
