<div class="container-fluid hidden-print" ng-controller="itemIssueDetailsController" ng-init="init()">
    <h1 class="page-header">Inventory Issue Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/item-issue/list">Inventory Issue</a></li>
        <li class="active">Details</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Sales Rep</label>
                        <p class="form-control-static" ng-bind="::itemIssue.employeeName"></p>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Issued Date</label>
                        <p class="form-control-static" ng-bind="::itemIssue.issuedDate | date : 'MM-dd-yyyy'"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Other Information</label>
                            <p class="form-control-static" ng-bind="::itemIssue.otherInfo"></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Inventory Issues</label>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Item Code</td>
                                        <td>Inventory Code</td>
                                        <td>Name</td>
                                        <td class="text-right">Quantity</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in itemIssue.items track by $index">
                                        <td ng-bind="item.itemCode"></td>
                                        <td ng-bind="item.inventoryCode"></td>
                                        <td ng-bind="item.itemName"></td>
                                        <td class="text-right" ng-bind="item.quantity"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-2 text-left">
                        <a type="button" class="btn btn-md btn-primary" href="#/item-issue/create">New</a>
                    </div>
                    <div class="col-sm-10 text-right">
                        <button type="button" class="btn btn-md btn-default" ng-click="backToList()">Back to List</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>