<div class="container-fluid" ng-controller="showLoadingSheetController" ng-init="init()">
    <h1 class="page-header">Loaging Sheets</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#/">Dashboard</a>
        </li>
        <li class="active">Loading Sheets</li>
    </ol>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Loading Date</label>
            <input type="date" name="loadingDate" ng-model="loadingDate" class="form-control">
        </div>
        <div class="col-sm-3 form-group" ng-class="{'has-error' : (form.$submitted && form.line.$error.required)}">
            <label>Line Route</label>
            <select name="line" class="form-control" data-placeholder="Please select" ng-model="$scope.lineId" data-allow-clear="true"
                ajax-data-url="/api/lines/search" ajax-data-cache="true" config="linesSearchConfig" style="width:100%" required="">
            </select>
        </div>
        <div class="col-sm-2 form-group">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-block btn-primary" ng-click="showLoadingSheet()">Search</button>
        </div>
        <div class="col-sm-2 form-group">
            <label>&nbsp;</label>
            <button type="reset" class="btn btn-block btn-primary-outline" ng-click="resetSearchResults()">Reset</button>
        </div>
    </div>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped" ng-show="items.length > 0">
                        <thead>
                            <tr>
                                <th class="table-select-column">Code</th>
                                <th class="table-select-column">Description</th>
                                <th class="table-select-column">Sales Person</th>
                                <th class="table-select-column">Line</th>
                                <th class="table-select-column">Dispached Date</th>
                                <th class="table-select-column">Vehicle Number</th>
                                <th class="table-select-column">Created By</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in items">
                            <tr>
                                <td>
                                    <a href="#" ng-click="redirectToDeliveryTracking($event, item.id)">{{ item.code}}</a>
                                </td>
                                <td>{{ item.description || '-'}}</td>
                                <td>{{ item.name || '-'}}</td>
                                <td>{{ item.route || '-'}}</td>
                                <td>{{ item.loadingDate | date:'yyyy-MM-dd' }}</td>
                                <td>{{ item.vehicleNo || '-'}}</td>
                                <td>{{ item.createdBy || '-'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
