<div class="container visible-print-block" style="font-size:15px;">
    <div class="row header">
        <div>
            <img ng-src="../images/golden-lanka-logo.png" class="img-responsive logo" alt="Golden Lanka">
        </div>
        <p>
            <b>Golden Lanka (Pvt) Ltd.</b>
            <br>Kahatagasthenna, Ruwanwella.</p>
        <h3>Loading Sheet ({{ ::loadingSheet.loadingDate | date : 'yyyy-MM-dd' }} )</h3>
        <h3>{{ ::loadingSheet.loadingSheetCode }}</h3>
    </div>
    <hr>
    <br>
    <div class="row">
        <label class="col-xs-3 control-label">Sales Person:</label>
        <label class="col-xs-3" ng-bind="loadingSheet.employeeName"></label>
        <label class="col-xs-3 control-label">Line Route:</label>
        <label class="col-xs-3" ng-bind="loadingSheet.lineRoute"></label>
    </div>
    <div class="row">
        <label class="col-xs-3 control-label">Vehicle:</label>
        <label class="col-xs-3" ng-bind="loadingSheet.vehicleNo"></label>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="table-responsive">
            <label>Item(s) asscociated to this loading sheet.</label>
            <table class="table">
                <thead>
                    <tr>
                        <td>Customer</td>
                        <td>Label</td>
                        <td>Term</td>
                        <td class="text-right">Collective Amount</td>
                        <td>Ordered As</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in selectedLoadingList track by $index">
                        <td ng-bind="::item.customerName"></td>
                        <td ng-bind="::item.compositeItemLabel"></td>
                        <td ng-bind="::item.term"></td>
                        <td class="text-right" ng-bind="::item.collectiveAmount | number : 2"></td>
                        <td ng-bind="::item.itemOrderedAs"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="table-responsive">
            <label>Item list to be collected from the inventory.</label>
            <table class="table">
                <thead>
                    <tr>
                        <td>Item Code</td>
                        <td>Item Name</td>
                        <td class="text-right">Quantity</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in aggregatedItems track by $index">
                        <td ng-bind="::item.code"></td>
                        <td ng-bind="::item.name"></td>
                        <td class="text-right" ng-bind="::item.quantity"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        Checked by : _______________________
    </div>
</div>
