<div class="container-fluid" ng-controller="lineListController" ng-init="init()">
	<h1 class="page-header">Lines</h1>
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Lines</li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<grid adapter="gridAdapter" selectable="true" enable-edit="true" enable-delete="true">
				<actions>
					<action text="Delete" command="delete"></action>
					<action text="Activate" command="enable"></action>
					<action text="Deactivate" command="disable"></action>
				</actions>
				<columns>
					<code header="Line"></code>
					<route header="Route"></route>
					<lineDate header="Date"></lineDate>
				</columns>
			</grid>
		</div>
	</div>
</div>