<div class="container-fluid" ng-controller="changePasswordController" ng-init="init()">
    <div ng-if="visible">
        <h1 class="page-header">Change Password</h1>
        <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
            <div class="form-window form-md form-container">
                <form novalidate name="form" confirm-on-exit>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.newPassword.$error.required)}">
                            <label>New Password</label>
                            <input type="password" name="newPassword" ng-model="userSettings.newPassword" class="form-control" maxlength="100">
                            <span class="help-block" ng-if="form.$submitted && form.newPassword.$error.required">New Password is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.confirmPassword.$error.required)}">
                            <label>Confirm Password</label>
                            <input type="password" name="confirmPassword" ng-model="userSettings.confirmPassword" class="form-control" maxlength="100">
                            <span class="help-block" ng-if="form.$submitted && form.confirmPassword.$error.required">Password Confirmation is required</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.currentPassword.$error.required)}">
                            <label>Current Password</label>
                            <input type="password" name="currentPassword" ng-model="userSettings.currentPassword" class="form-control" maxlength="100">
                            <span class="help-block" ng-if="form.$submitted && form.currentPassword.$error.required">Current Password is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-button-bar">
                                <div class="col-md-4"></div>
                                <div class="col-md-8 text-right">
                                    <button type="submit" class="btn btn-primary" ng-click="changePassword()">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
