<div class="container-fluid" ng-controller="lineDetailsController" ng-init="init()">
	<h1 class="page-header">Line Details</h1>
	<ol class="breadcrumb">
		<li><a href="#/line/list">Line</a></li>
		<li class="active">Details</li>
	</ol>
	<div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
		<div class="form-window form-md form-container">
			<form novalidate name="form">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label>Code</label>
						<input type="text" name="code" ng-model="line.code" class="form-control input-sm" readonly>
					</div>
					<div class="col-sm-6 form-group">
						<label>Route</label>
						<input type="text" name="route" ng-model="line.route" class="form-control input-sm" readonly>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 form-group date">
						<label>Inspection Dates</label>
						<input type="text" name="lineDate" ng-model="line.lineDate" class="form-control input-sm" readonly>
					</div>
					<div class="col-sm-6 form-group">
						<label>Sales Rep</label>
						<input type="text" name="lineDate" ng-model="line.linerName" class="form-control input-sm" readonly>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<label>Note</label>
						<textarea name="note" ng-model="line.note" rows="2" class="form-control" maxlength="5000" readonly></textarea>
					</div>
				</div>
				<div class="row form-button-bar">
					<div class="col-sm-4 text-left">
						<button type="button" class="btn btn-sm btn-default" ng-click="cancelLineView()">Back</button>
					</div>
					<div class="col-sm-8 text-right">
						<button type="button" class="btn btn-sm btn-primary" ng-click="editLine(line)">Edit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>