@import './base';

.cards{
    margin:0;
    padding:0;
    list-style: none;

    .card{
        margin:10px;
        padding:5px;
        display: inline-block;
        vertical-align: top;
        width:200px;
        height:200px;
        background:#ffffff;
        border-radius: 3px;
        border:1px solid $border-color;
        @extend .shadow;
        position: relative;

        .title{
            font-size: 20px;
        }

        .card-badge{
            font-size:9px;
            text-transform: uppercase;
            display: inline-block;
            margin: 2px 0;
            padding: 3px 10px;
            
            &.danger{
                color: $color-palette-dangerA700;
                border:1px solid $color-palette-dangerA100;
            }
        }

        .list{
            margin: 0;
            padding: 0;
            list-style: none;

            li{
                margin: 0;
                padding: 5px;
                display: block;
                border-bottom: 1px solid $border-color;
                &:first{
                    border-color: transparent;
                }

                .small-text{
                    font-size:12px;
                }
            }
        }
    }
}

/*start new card ui*/
/*https://medium.com/@colinlord/how-to-create-horizontal-scrolling-containers-d8069651e9c6*/
.ui-cards {
    list-style: none;
    margin: 10px;
    padding: 0;
  
    .ui-card {
      display: inline-block;
      width: 200px;
      min-height: 210px;
      float:left;
      
      border: 1px solid $border-color;
      background: #ffffff;
      @extend .shadow;
      
      @include transition(border-color 0.5s);

      &.loose{
        margin:10px;  
      }
      
      &.loose-left-bottom{
        margin:0 10px 10px 0;  
      }

      &.returned{
        background: $color-palette-danger50;
        border-color: $color-palette-danger900;
        .header-wrapper{
          background: $color-palette-danger900;
        }
      }
      
      &:hover {
        border-color: $color-palette-primary800;
        transform: scale(1.05);

        .header-wrapper {
          color:$color-palette-primary800;
          border-bottom-color: $color-palette-primary800;
        }
      }

      .header-wrapper {
        display: table;
        width: 100%;
        height: 40px;
        background: #ffffff;
        border-bottom: 1px solid $border-color;
        
        @include transition(color 0.5s, border-bottom-color 0.5s);

        .header-text,
        .close-placeholder {
          display: table-cell;
          vertical-align: middle;
        }
  
        .header-text {
          padding: 0 10px;
          font-size: 16px;
          @extend .font-bold;
          position: relative;
        }
  
        .close-placeholder {
          width: 40px;
          text-align: center;
  
          .close {
            opacity:0.6;
            float: none;
          }
        }
      }
  
      .body-wrapper {
        padding: 5px 10px 10px 10px;
        overflow: hidden;
        height: 140px;
        
        &:hover {
          overflow: auto;
        }
  
        .list {
          list-style: none;
          margin: 0;
          padding: 0;
  
          li {
            display: block;
            margin: 0;
            padding: 5px 0;
            border-bottom: 1px dotted $border-color;
            
            &:last-child{
              border-bottom:0px none;
            }

            .secondry-text{
              text-transform: uppercase;
              font-size: 10px;
              color:lighten($color, 50%);
            }
          }
        }
      }
      
      .footer-wrapper{
        display:block;
        padding:5px;
        height:30px;
        width:100%;
        background:lighten($border-color, 5%);
        border-top:1px solid $border-color;
      }
      
      .footer-label{
        display:inline-block;
        font-size: 10px;
        @extend .font-bold;
        padding: 1px 5px;
        text-transform:uppercase;
        
        &.free {
          color:$color-palette-danger500;
          border:1px solid $color-palette-danger500;
          float:left;
        }
  
        &.status{
          color:$color;
          float:right;
        }

        &.text{
            color:$color;
            float:left;
        }
      }
    }
  }

  .invoice-cards{
    margin:0;
    padding:0;
    list-style: none;

    li.invoice-card{
      display: block;
      margin: 0 0 1px 0;
      padding: 10px 15px;
    }
  }
  .invoice-card,
  .dropdown-item-card{
    padding:5px;
    color:#555555;
    background:#ffffff;
    border:1px solid $border-color;
    margin:1px;

    &:hover{
      border-color:$border-highlight-color;
      @include transition(border-bottom-color 0.5s);

      .hover-text{
        display: block;
      }
    }

    &.danger {
      color:$color-palette-danger900;
    }

    &.disabled{
      opacity: 0.6;
      cursor: default;
      border-color:$border-color;
    }

    .primary-text{
      font-size: 16px;
      @extend .font-bold;
      color:#555555;
    }

    .secondry-text{
      text-transform: uppercase;
      font-size: 11px;
      color:lighten($color, 50%);
    }

    .hover-text{
      display: none;
    }
  }
/*end new card ui*/
.empty-cards-holder{
    margin:20px 0;
    min-height:150px;

    .header{
        font-size: 18px;
    }
    .message{
        font-size:14px;
        color:lighten(#000000, 50%);
    }
}