@import './base';

.invoice-list-wrapper{
    max-height:350px;
    min-height:350px;
    overflow-y: auto;
    border:1px solid $border-color;
}
.invoice-amount-wrapper{
    max-width: 250px;
    float: right;
    padding:0 15px;
    margin-bottom: 20px;
    .form-group{
        margin-bottom: 0px;
        border-bottom: 1px solid $border-color;

        .form-control {
            border-color: transparent;
            padding-right: 0px;
        }

    }
}
.invoice-payment-method-wrapper{
    padding-top:20px;
}
.pinned-items-wrapper {
    ul.pinned-items{
        padding:0;
        margin:0;
        list-style: none;

        li{
            display: inline-block;
            width:100px;
            height:100px;
            border:1px solid $border-color;

        }
    }
}