/*login-page*/
@import './base';


.login-page {
    background: #0c1217;

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    input:-webkit-autofill, 
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: #333333;
      -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    .container-fluid {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .login-wrapper-container {
        display: table;
        width: 100%;
        height: 100%;

        .login-wrapper {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }

    .logo-wrapper{
        height:55px;
        padding:10px 0; 

        img{
            height:100%;
        }
    }

    .login-window {
        display: inline-block;
        width:320px;
        padding:20px 25px 40px 25px;
        text-align: left;
        background: #ffffff;

        label {
            font-size:11px;
            color:#585858;
            text-transform: uppercase;
            margin-bottom: 10px;
            @extend .font-medium;
        }

        input[type="text"], input[type="password"]{
            border:0px none transparent;
            border-bottom: 1px solid #d4cdcd;
            font-size:13px;
            @extend .font-bold;

            &:focus, &:active{
                outline: none;
                border-color: $border-highlight-color !important;
                @extend .no-shadow;
            }
        }

        .has-error{
            input[type="text"], input[type="password"]{
                outline: none;
                border-bottom-width: 2px;
                border-bottom-color:$color-palette-danger900;
                @extend .no-shadow;
            }
        }

        .help-block{
            font-size: 12px;
            color:$color-palette-danger900;
            padding:5px 0;
            @extend .font-bold;
        }

        button{
            background: #ffffff;
            text-transform: uppercase;
            font-size: 11px;
            padding:7px 25px;
            border:2px solid #5c5a5f;
            @extend .font-bold;

            &.login{
                text-decoration: none;
                padding-left:35px;
                padding-right:35px;
            }
        }

        .password-recover-placeholder{
            margin:15px 0;
            padding:0 5px;

            font-size: 12px;

            a:hover{
                text-decoration: underline;
            }
        }
    }

    .loading-panel {
       margin:0 auto;
    }
}