@import './base';

.order-taking-view{
    .terms{
        margin: 0;
        padding: 0;
        list-style: none;

        .term{
            display: block;
            margin: 5px;
            padding: 0;

            .term-name-container{
                display: block;
                margin:5px 0;
                border-bottom: 1px solid $border-color;
                clear:both;

                .term-name {
                    font-size: 16px;
                    padding: 5px 0;
                    color:$color-palette-primaryA100;
                    font-weight: bold;
                }
            }
            .composite-item-container{
                display: block;
                min-height:160px;

                .composite-item{
                    display: block;
                    margin: 5px;
                    padding: 10px;
                    width:250px;
                    min-height:190px;
                    border:5px solid $border-color;
                    background:#ffffff;
                    @extend .shadow;
                    position: relative;
                    float:left;

                    &.ordered{
                        border:2px solid $border-color;
                    }
                    
                    &.loaded{
                        border:2px solid #03fd20;
                    }

                    &.delivered{
                        border:2px solid #03A9F4;
                    }

                    &.returned{
                        border:2px solid #F44336;
                    }

                    .composite-item-label{
                        font-size:20px;
                        margin:10px 0;
                    }

                    .list{
                        margin: 0;
                        padding: 0;
                        list-style: none;
            
                        li{
                            margin: 0;
                            padding: 5px;
                            display: block;
                            border-bottom: 1px solid $border-color;
                            &:last-child{
                                border-color: transparent;
                            }
            
                            .small-text{
                                font-size:12px;
                            }
                        }
                    }

                    .composite-item-footer{
                        position: absolute;
                        bottom: 0;
                        right:0;
                        left:0;
                        padding:10px;
                        border-top:1px solid $border-color;
                    }

                    .card-badge{
                        font-size:9px;
                        text-transform: uppercase;
                        display: inline-block;
                        padding: 3px 10px;
                        
                        &.danger{
                            color: $color-palette-dangerA700;
                            border:1px solid $color-palette-dangerA100;
                        }
                    }
                }
            }
        }
    }

    /*new */

    .default-templates-wrapper, .custom-product-summary-wrapper {
        border-top:1px solid $border-color;
        border-bottom:1px solid $border-color;
        padding:20px;
        background:#f9f9f9;

        .amount{
            font-size:16px;
        }
    }

    .custom-product-summary-panel{
        max-width:400px;
        
        .table {
            font-family: monospace;
            background-color: #ffffff;
            >thead {
                color: #000000;
                background: transparent;
            }

            td{
                color:#193eca;
            }
        }
    }

    .alert-area-wrapper{
        margin:30px 0;
        min-height:100px;
    }
}