@import './base';

.top-navbar {
    display: block;
    width:100%;
    height:50px;
    background: #ffffff;
    border-bottom: 1px solid $border-color;
    display: table;

    .brand{
        display: table-cell;
        width:60px;
        height: 50px;
        padding:5px 10px;

        a{
            outline: 0px none;
            img{
                height:100%;
            }
        }
    }

    .main-menu-container{
        display: table-cell;
        
        .main-menu{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                display: inline-block;
                text-transform: uppercase;
                font-size: 14px;
                margin:0px 2px;
                @extend .font-black;
                position: relative;

                > a {
                    padding:15px 15px;

                    &.more{
                        min-width: 60px;
                    }
                }

                .dropdown-panel{
                    padding:20px;
                    min-width:200px;
                    position: absolute;
                    background: #ffffff;
                    z-index: 1000;
                    border:1px solid $border-color;
                    border-top-width:0px; 
                    @extend .shadow;

                    display: none;

                    .dropdown-panel-collumn{
                        display: table-cell;
                        vertical-align: top;
                        min-width: 100px;
                        @media(min-width:768px){
                            min-width: 150px;
                        }
                    }
                }

                ul{
                    list-style-type: none;
                    margin: 0;
                    padding:0;

                    li{
                        display: block;
                        font-size: 14px;
                        text-transform: capitalize;
                        margin:0;
                        padding:5px 5px 5px 10px;
                        @extend .font-medium;

                        &.sub-menu-header{
                            text-transform: uppercase;
                            font-size: 11px;
                            padding-left: 5px;
                            @extend .font-black;
                            color: #505F79;
                        }

                        a {
                            padding:0;
                            color:darken($color-palette-primaryA100, 50%);
                            &:hover{
                                color:$color-palette-primaryA100;
                            }
                        }
                    }
                }

                &:hover, &:active{
                    > a {
                        color:$color-palette-primaryA100;
                    }
                    .dropdown-panel{
                        top:34px;
                        left:0px;
                        display: table;
                    }
                }
            }
        }

    }
    .action-button-container{
        display: table-cell;
        width:160px;
        text-align: right;
        vertical-align: middle;
        padding-left:15px;
        padding-right:15px;

        .profile-icon{
            display: block;
            float: left;
            width:28px;
            height: 28px;
            background: url(/images/user.svg) center center no-repeat;
        }

        .btn-logout{
            font-size: 10px;
            display: inline-block;
        }
    }
}