<div class="container-fluid" ng-controller="itemListController" ng-init="init()">
    <h1 class="page-header">Items</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Items</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="true" enable-edit="true" enable-delete="true" enable-recent="true">
                <actions>
                    <action text="Delete" command="delete"></action>
                    <action text="Activate" command="enable"></action>
                    <action text="Deactivate" command="disable"></action>
                </actions>
                <columns>
                    <code header="Code"></code>
                    <name header="Name"></name>
                    <model header="Model"></model>
                    <categoryName header="Category"></categoryName>
                    <manufacturer header="Manufacturer"></manufacturer>
                </columns>
            </grid>
        </div>
    </div>
</div>