<div class="container-fluid" ng-controller="itemDetailsController" ng-init="init()">
    <h1 class="page-header">Item Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/item/list">Items</a></li>
        <li class="active">Details</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <a class="floating-button" ng-href="#/item/create" role="button" data-toggle="tooltip" data-placement="top" title="Add New Record">
        </a>

        <div class="form-window form-sm">
            
            <div class="row">
                <div class="col-sm-12 form-group">
                    <h3>
                        <small>{{item.code}}</small> <br/>
                        {{item.name}}
                    </h3>
                    <hr/>
                </div>
            </div>
            <div class="row" ng-if="::item.description">
                <div class="col-sm-12">
                    <div class="form-group">
                        <p class="form-control-static">{{item.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Manufacturer</label>
                        <p class="form-control-static">{{item.manufacturer}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Model</label>
                        <p class="form-control-static">{{item.model}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Re-Order Level</label>
                        <p class="form-control-static">{{item.reorderLevel}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Unit</label>
                        <p class="form-control-static">{{item.unit}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Category</label>
                        <p class="form-control-static">{{item.categoryName}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Sub Category</label>
                        <p class="form-control-static">{{item.subCategoryName}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-button-bar">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-sm btn-default" ng-click="backToList()">Back</button>
                            </div>
                            <div class="col-sm-8 text-right">
                                <button ng-if="item.isActive" type="button" class="btn btn-sm btn-primary" ng-click="editItem(item)">Edit</button>
                                <button ng-if="item.isActive" type="button" class="btn btn-sm btn-primary">Disable</button>
                                <!--<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#confirmDialog">Delete</button>-->
                                <button ng-if="!item.isActive" type="button" class="btn btn-sm btn-primary" ng-click="changeStatus(item)">Enable</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <confirm-dialog confirm-message="'Are you sure you want to delete this?'" on-okay="updateDeleteStatus(item)"></confirm-dialog>
    </div>
</div>