<div class="container-fluid hidden-print" ng-controller="paymentDetailsController" ng-init="init()">
    <h1 class="page-header">Payment Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/item/list">Payment</a></li>
        <li class="active">Details</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label>Payment Code</label>
                        <input class="form-control" type="text" ng-model="payment.code" readonly />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Customer</label>
                        <input class="form-control" type="text" name="customerName" ng-model="payment.customerName" readonly/>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Payment Method</label>
                        <input type="text" ng-model="payment.paymentMethodName" class="form-control" readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Payment Date</label>
                        <input type="text" ng-model="payment.paymentDate" class="form-control" readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Amount</label>
                        <input type="text" format="currency" ng-model="payment.amount" class="form-control text-right" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="payment.otherInfo" rows="2" class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
                <hr ng-if="payment.cheques.length > 0">
                <div class="row" ng-if="payment.cheques.length > 0">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <label>Cheque(s) asscociated to this payment</label>
                            <table class="table table-hover table-border-outline">
                                <thead>
                                    <tr>
                                        <td>Cheque No</td>
                                        <td>Bank</td>
                                        <td>Branch</td>
                                        <td>Date</td>
                                        <td class="text-right">Amount</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cheque in payment.cheques track by $index">
                                        <td ng-bind="cheque.chequeNo"></td>
                                        <td ng-bind="cheque.bank"></td>
                                        <td ng-bind="cheque.branch"></td>
                                        <td ng-bind="cheque.chequeDate | date : 'yyyy MM dd'"></td>
                                        <td class="text-right" ng-bind="cheque.amount | number : 2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <label>Invoice(s) asscociated to this payment</label>
                            <table class="table table-hover table-border-outline">
                                <thead>
                                    <tr>
                                        <td>Invoice Code</td>
                                        <td>Invoiced Date</td>
                                        <td class="text-right">Total</td>
                                        <td class="text-right">Payment Applied</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in payment.items track by $index">
                                        <td ng-bind="item.invoiceCode"></td>
                                        <td ng-bind="item.invoicedDate | date : 'yyyy MM dd'"></td>
                                        <td class="text-right" ng-bind="item.total | number : 2"></td>
                                        <td class="text-right" ng-bind="item.amount | number : 2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-2 text-left">
                        <a type="button" class="btn btn-md btn-primary" href="#/payment/create">Create New</a>
                    </div>
                    <div class="col-sm-10 text-right">
                        <button type="button" class="btn btn-md btn-default" ng-click="backToList()">Back to List</button>
                        <button type="button" class="btn btn-md btn-default" ng-click="print()">Print</button>
                        <!--<button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#confirmDialog">Delete</button>-->
                    </div>
                </div>
            </form>
        </div>
        <confirm-dialog confirm-message="'Are you sure you want to cancel this?'" on-okay="updateDeleteStatus(payment)"></confirm-dialog>
    </div>
</div>
<div id='print'></div>