<div class="container-fluid" ng-controller="inventoryLogController" ng-init="init()">
	<h1 class="page-header">Inventory Log</h1>
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Inventory Log</li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<grid adapter="gridAdapter">
				<columns>
					<grnCode header="GRN Code"></grnCode>
					<inventoryCode header="Inventory Code"></inventoryCode>
					<buyingPrice header="Buying Price" format="currency" align="right"></buyingPrice>
					<quantity header="Quantity" align="right"></quantity>
					<remainingQuantity header="Remaining Quantity" align="right"></remainingQuantity>
					<retailSellingPrice header="Retail Price" format="currency" align="right"></retailSellingPrice>
					<wholeSellingPrice header="Whole Sale Price" format="currency" align="right"></wholeSellingPrice>
				</columns>
			</grid>
		</div>
	</div>
</div>