<div class="widget" ng-class="{'maximize' : maximize }">
    <div class="spinner sm" ng-if="loading">
    </div>
    <div class="header-wrapper" ng-if="!loading">
        <p>Out of stock - ({{ total }}) <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="toggle($event)">
            <span aria-hidden="true"><i class="fa" aria-hidden="true" ng-class="{true:'fa-times', false:'fa-window-restore' }[maximize]"></i> </span>
        </button></p>
    </div>
    <p ng-if="!loading && total === 0">No records found</p>
    <div class="panel panel-default scrollable" ng-if="!loading && total > 0">
        <table class="panel-body table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td><i class="fa fa-circle text-warning" aria-hidden="true" ng-if="item.stock < 5" title="Out of stock"></i></td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.stock }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>