<div class="container-fluid" ng-controller="lookupController" ng-init="init()">
    <h1 class="page-header">Lookups</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="categories">
                <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" ng-if="loadingCategory"></i>
                <ul class="list-group" ng-if="!loadingCategory">
                    <li class="list-group-item">
                        <form id="categoryForm" name="categoryForm" class="form-inline" novalidate>
                            <div class="form-group" ng-class="{'has-error' : (categoryForm.$submitted && categoryForm.name.$error.required)}">
                                <input type="text" name="name" class="form-control" placeholder="Category Name" ng-model="category.name" required="">
                            </div>
                            <button type="submit" class="btn btn-outline btn-default" ng-click="addCategory(category)">Add</button>
                        </form>
                    </li>
                    <li class="list-group-item" ng-repeat="category in categories">
                        <div class="text-bold" ng-bind="::category.name" ng-click="loadLookups(category)"></div>
                        <div ng-if="selectedCategory === category">
                            <p ng-if="loadingLookups"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></p>
                            <ul class="list-group" ng-if="!loadingLookups && lookups.length > 0">
                                <li class="list-group-item" ng-repeat="lookup in lookups"><span ng-bind="::lookup.name"></span> <button type="button" class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#addItemModal" data-parent-id="{{lookup.id}}">+</button></li>
                            </ul>
                            <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#addItemModal" data-parent-id="-1">+ Add new item</button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-6">

        </div>
    </div>

    <div id="addItemModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add New Item</h4>
                </div>
                <div class="modal-body">
                    <form id="lookupForm" name="lookupForm" class="form-inline" novalidate>
                            <div class="form-group" ng-class="{'has-error' : (lookupForm.$submitted && lookupForm.name.$error.required)}">
                                <input type="text" name="name" class="form-control" placeholder="Item name" ng-model="lookup.name" required="">
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addLookup(lookup)">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>