<div class="container-fluid hidden-print" ng-controller="cashCollectedController" ng-init="init()">
    <h1 class="page-header">Cash Collected</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Cash Collected</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" name="startDate" ng-model="startDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <input type="date" name="endDate" ng-model="endDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
                    </div>
                </div>
                <hr>
                <div ng-if="!isLoadingItems && cashCollectedList.length === 0">
                    No cash collections found.
                </div>
                <div class="row" ng-if="isLoadingItems">
                    <div class="col-md-12 text-center">
                        <div class="spinner sm"></div>
                    </div>
                </div>
                <div ng-if="cashCollectedList.length > 0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Collections</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>Customer</td>
                                            <td>Code</td>
                                            <td class="text-right">term</td>
                                            <td class="text-right">Collected Amount</td>
                                            <td>Collected Date</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in cashCollectedList track by $index">
                                            <td ng-bind="::item.name"></td>
                                            <td ng-bind="::item.code"></td>
                                            <td class="text-right" ng-bind="::item.term"></td>
                                            <td class="text-right" ng-bind="::item.collectedAmount | currency:'Rs.'"></td>
                                            <td ng-bind="item.collectedDate"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id='print'></div>