<div id="confirmDialog" class="popup modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 ng-bind="confirmMessage"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default btn-cancel" tabindex="0" data-dismiss="modal" role="button">No</button>
                <button type="button" class="btn btn-sm btn-primary btn-exit" tabindex="0" ng-click="onOkayClick()" role="button" aria-label="Yes"
                    ng-enter="changeStatus()">Yes</button>
            </div>
        </div>
    </div>
</div>