<nav class="top-navbar app-header hidden-print" ng-if="visible" ng-init="init()" ng-cloak>
    <div class="brand">
        <a href="#/">
            <img src="/images/logo-sign.svg" alt="Bizvix">
        </a>
    </div>
    <div class="main-menu-container">
        <ul class="main-menu">
            <li>
                <a ng-click="openLink($event, '/')">Dashboard</a>
            </li>
            <li>
                <a href="#">Add
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-panel">
                    <ul>
                        <li>
                            <a ng-click="openLink($event, '/customer/create')">Customer</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/product/create')">Product</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/item/create')">Item</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/supplier/create')">Supplier</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/invoice/create')">Invoice</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/employee/create')">Employee</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/line/create')">Line</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/material/create')">Material</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/payment/create')">Payment</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/grn/create')">GRN</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/item/return')">Return Item</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/item-issue/loading-sheet')">Loading Sheet</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/item-issue/create')">Issue Inventory</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">List
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-panel">
                    <ul>
                        <li>
                            <a ng-click="openLink($event, '/customer/list')">Customers</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/product/list')">Products</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/item/list')">Items</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/supplier/list')">Suppliers</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/invoice/list')">Invoices</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/employee/list')">Employees</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/line/list')">Lines</a>
                        </li>
                        <!--<li><a ng-click="openLink($event, '/invoice/create')">Material</a></li>-->
                        <li>
                            <a ng-click="openLink($event, '/payment/list')">Payments</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/grn/list')">GRNs</a>
                        </li>
                        <!--<li><a ng-click="openLink($event, '/item-issue/loading-sheet')">Loading Sheet</a></li>-->
                        <li>
                            <a ng-click="openLink($event, '/item-issue/list')">Inventory</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/item-issue/loading-sheet/display')">Dispatched Orders</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Reports
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-panel">
                    <ul>
                        <!-- <li><a ng-click="openLink($event, '/delivery/tracking')">Delivery Tracking</a></li> -->
                        <li>
                            <a ng-click="openLink($event, '/inventory/available')">Available Inventory</a>
                        </li>
                        <!-- <li><a ng-click="openLink($event, '/inventory/list')">Inventory History</a></li> -->
                        <li>
                            <a ng-click="openLink($event, '/invoice/due/list')">Due Payments</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/cash-collected')">Cash Collected</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="more">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <div class="dropdown-panel">
                    <ul>
                        <li>
                            <a ng-click="openLink($event, '/general-settings')">General Settings</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/user-settings')">User Settings</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/user/change-password')">Change Password</a>
                        </li>
                        <li>
                            <a ng-click="openLink($event, '/help')">Help</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="action-button-container">
        <span class="profile-icon"></span>
        <a class="btn btn-default btn-sm btn-logout" ng-click="logout($event)">Logout</a>
    </div>
</nav>
