<nav class="top-navbar app-header hidden-print" ng-if="visible" ng-init="init()" ng-cloak>
  <div class="brand">
    <a href="#/"><img src="/images/logo-sign.svg" alt="Bizvix"></a>
  </div>
  <div class="main-menu-container">
    <ul class="main-menu">
      <li><a ng-click="openLink($event, '/')">Dashboard</a></li>
      <li>
        <a href="#">Actions</a>
        <div class="dropdown-panel">
          <div class="dropdown-panel-collumn">
            <ul>
              <li class="sub-menu-header">Suppliers</li>
              <li><a ng-click="openLink($event, '/supplier/list')">Search</a></li>
              <li><a ng-click="openLink($event, '/supplier/create')">New</a></li>

              <li class="sub-menu-header">Items</li>
              <li><a ng-click="openLink($event, '/item/list')">Search</a></li>
              <li><a ng-click="openLink($event, '/item/create')">New</a></li>
              <li><a ng-click="openLink($event, '/item/return')">Return</a></li>

              <li class="sub-menu-header">Invoices</li>
              <li><a ng-click="openLink($event, '/invoice/list')">Search</a></li>
              <li><a ng-click="openLink($event, '/invoice/create')">New</a></li>

              <li class="sub-menu-header">Customers</li>
              <li><a ng-click="openLink($event, '/customer/list')">Search</a></li>
              <li><a ng-click="openLink($event, '/customer/create')">New</a></li>
            </ul>
          </div>
          <div class="dropdown-panel-collumn">
            <ul>
              <li class="sub-menu-header">Employees</li>
              <li><a ng-click="openLink($event, '/employee/list')">Search</a></li>
              <li><a ng-click="openLink($event, '/employee/create')">New</a></li>

              <li class="sub-menu-header">Lines</li>
              <li><a ng-click="openLink($event, '/line/list')">Search</a></li>
              <li><a ng-click="openLink($event, '/line/create')">New</a></li>

              <li class="sub-menu-header">Material</li>
              <li><a ng-click="openLink($event, '/material/create')">New</a></li>
            </ul>
          </div>
          <div class="dropdown-panel-collumn">
            <ul>
              <li class="sub-menu-header">Products</li>
              <li><a ng-click="openLink($event, '/product/list')">Search</a></li>
              <li><a ng-click="openLink($event, '/product/create')">New</a></li>

              <li class="sub-menu-header">Custom Product</li>
              <li><a ng-click="openLink($event, '/custom-product/list')">Search</a></li>
              <li><a ng-click="openLink($event, '/custom-product/create')">New</a></li>

              <li class="sub-menu-header">Payments</li>
              <li><a ng-click="openLink($event, '/payment/list')">List</a></li>
              <li><a ng-click="openLink($event, '/payment/create')">New</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li><a href="#/">Help</a></li>
    </ul>
  </div>
  <div class="action-button-container">
      <span class="profile-icon"></span>
      <a class="btn btn-default btn-sm btn-logout" ng-click="logout($event)">Logout</a>
  </div>
</nav>