<aside class="app-aside hidden-print" ng-if="visible" ng-cloak>
    <ul class="menu-bar" role="list">
        <li class="tab user-placeholder">
            <a tabindex="0" class="icon-placeholder" role="button">
                <i class="icon user" aria-hidden="true"></i>
            </a>
            <ul class="submenu">
                <li class="submenu-header">Welcome, {{ ::user }}</li>
                <li class="submenu-item"><a ng-click="openLink($event, '/settings')">Settings</a></li>
                <li class="submenu-item"><a ng-click="logout($event)">Logout</a></li>
            </ul>
        </li>
        <li class="tab" role="listitem" tabindex="0" data-toggle="tooltip" title="" data-original-title="New Item" data-placement="right">
            <a ng-click="openLink($event, '/item/create')">
                <div class="icon-placeholder">
                    <i class="icon inventory" aria-hidden="true"></i>
                </div>
            </a>
        </li>
        <li class="tab" role="listitem" tabindex="0" data-toggle="tooltip" title="" data-original-title="New GRN" data-placement="right">
            <a ng-click="openLink($event, '/grn/create')">
                <div class="icon-placeholder">
                    <i class="icon grn" aria-hidden="true"></i>
                </div>
            </a>
        </li>
        <li class="tab" role="listitem" tabindex="0" data-toggle="tooltip" title="" data-original-title="New Invoice" data-placement="right">
            <a ng-click="openLink($event, '/invoice/create')">
                <div class="icon-placeholder">
                    <i class="icon sales" aria-hidden="true"></i>
                </div>
            </a>
        </li>
        <li class="tab" role="listitem" tabindex="0" data-toggle="tooltip" title="" data-original-title="New Customer" data-placement="right">
            <a ng-click="openLink($event, '/customer/create')">
                <div class="icon-placeholder">
                    <i class="icon customers" aria-hidden="true"></i>
                </div>
            </a>
        </li>
        <li class="tab" role="listitem" tabindex="0" data-toggle="tooltip" title="" data-original-title="New Payment" data-placement="right">
            <a ng-click="openLink($event, '/payment/create')">
                <div class="icon-placeholder">
                    <i class="icon payments" aria-hidden="true"></i>
                </div>
            </a>
        </li>
    </ul>
</aside>