<div class="container-fluid" ng-controller="generalSettingsController" ng-init="init()">
    <div ng-if="visible">
        <h1 class="page-header">General Settings</h1>
        <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
            <div class="form-window form-md form-container">
                <form novalidate name="form" confirm-on-exit>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.companyName.$error.required)}">
                            <label>Company Name</label>
                            <input type="text" name="companyName" ng-model="settings.companyName" class="form-control" required maxlength="100">
                            <span class="help-block" ng-if="form.$submitted && form.companyName.$error.required">Company Name is required</span>
                        </div>
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.displayName.$error.required)}">
                            <label>Display Name</label>
                            <input type="text" name="displayName" ng-model="settings.displayName" class="form-control" required maxlength="100">
                            <span class="help-block" ng-if="form.$submitted && form.displayName.$error.required">Display Name is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Address</label>
                            <textarea name="note" ng-model="settings.address" rows="2" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.email.$error.required)}">
                            <label>Email</label>
                            <input type="email" name="email" ng-model="settings.email" class="form-control" maxlength="100">
                            <span class="help-block" ng-if="form.$submitted && form.email.$error.required">Email is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.contact.$error.required)}">
                            <label>Contact No.</label>
                            <input type="text" name="contact" ng-model="settings.contact" class="form-control" maxlength="100">
                            <span class="help-block" ng-if="form.$submitted && form.contact.$error.required">Contact No. is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-button-bar">
                                <div class="col-md-4"></div>
                                <div class="col-md-8 text-right">
                                    <button class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary" ng-click="updateSettings()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
