<div class="container-fluid" ng-controller="userSettingsController" ng-init="init()">
    <div ng-if="visible">
        <h1 class="page-header">User Settings</h1>
        <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
            <div class="form-window form-md form-container">
                <form novalidate name="form" confirm-on-exit>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.currentPassword.$error.required)}">
                            <label>Name</label>
                            <input type="password" name="currentPassword" ng-model="userSettings.currentPassword" class="form-control" maxlength="100">
                            <span class="help-block" ng-if="form.$submitted && form.currentPassword.$error.required">Current Password is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-button-bar">
                                <div class="col-md-4"></div>
                                <div class="col-md-8 text-right">
                                    <button type="submit" class="btn btn-primary" ng-click="">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
