<div class="container-fluid" ng-init="init()" ng-controller="productCreateController">
    <h1 class="page-header">New Product</h1>
    <ol class="breadcrumb">
        <li><a href="#/product/list">Product</a></li>
        <li class="active">New Product</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-4 form-group" ng-class="{'has-error' : (form.$submitted && form.material.$error.required)}">
                        <label required>Material Name</label>
                        <select name="material" class="form-control" data-placeholder="Please select" ng-model="inputs.materialId" data-allow-clear="true"
                            ajax-data-url="/api/material/list" ajax-data-cache="true" style="width:100%" ng-required="!inputs.materialId">
                        </select>
                    </div>
                    <div class="col-sm-3" ng-class="{'has-error' : (form.$submitted && form.labelName.$error.required)}">
                        <label required>Category</label>
                        <input name="labelName" type="text" ng-model="inputs.label" class="form-control" required="">
                    </div>
                    <div class="col-sm-3" ng-class="{'has-error' : (form.$submitted && form.labelName.$error.required)}">
                        <label required>Price</label>
                        <input id="itemPrice" name='price' type="text" format="currency" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="inputs.price"
                            class="form-control text-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group" ng-class="{'has-error' : (form.$submitted && form.itemId.$error.required)}">
                        <label required>Item</label>
                        <select id="itemDropdown" class="form-control" data-placeholder="Please select" ng-model="inputs.itemId" data-allow-clear="true"
                            name="itemId" ajax-data-url="/api/items/search" ajax-data-cache="true" config="itemSearchConfig"
                            style="width:100%" ng-required="!product.compositeItems || product.compositeItems.length === 0">
                        </select>
                        <p>
                            <a class="btn btn-link" href="#/item/create" target="_blank">Add Item</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="empty-cards-holder" ng-if="product.compositeItems.length === 0">
                            <div class="header">No items to display here.</div>
                            <p class="message">Select an item to create new product</p>
                        </div>
                        <ul class="cards">
                            <li ng-repeat="compositeItem in product.compositeItems" class="card ui-widget-snap draggable-item" draggable droppable="onDropItem(event, ui)">
                                <div class="card-content">
                                    <div>
                                        <button type="button" class="close" aria-label="Close" ng-click="removeCompositeItem(compositeItem, $index)"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="title">
                                        {{compositeItem.label}} <span ng-if="compositeItem.isFree" class="card-badge danger pull-right">Free</span>
                                    </div>
                                    <ul class="list">
                                        <li ng-repeat="item in compositeItem.items | limitTo:3 track by $index" ng-click="showMoreDetails(compositeItem.items)">
                                            <div class="small-text">
                                                <div>{{item.item.code }} <span class="pull-right">{{item.quantity}}</span></div>
                                                <div><strong>{{ item.item.name }}</strong></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div ng-if="compositeItem.items.length > 3"><span class="glyphicon glyphicon-option-horizontal pull-right" aria-hidden="true"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-button-bar">
                            <div class="row">
                                <div class="col-sm-3 text-left">
                                    <button type="button" class="btn btn-md btn-primary-outline" ng-click="backToList()">Back to List</button>
                                </div>
                                <div class="col-sm-9 text-right">
                                    <button type="button" class="btn btn-md btn-default" ng-click="reset()">Reset</button>
                                    <button type="submit" class="btn btn-md btn-primary" ng-disabled="isSaving" ng-click="save($event, inputs)"><i ng-if="isSaving" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modals -->
    <div id="productItemLabalingPopup" class="modal fade" tabindex="-1" role="dialog">
        <form name="labelForm" class="form-horizontal" novalidate ng-switch="command">
            <div class="modal-dialog sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Label item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{'has-error' : (labelForm.$submitted && labelForm.productLabel.$error.required)}">
                            <label class="col-sm-4 control-label" required>Label</label>
                            <div class="col-sm-8">
                                <input type="text" name="productLabel" class="form-control" ng-model="productItem.label" maxlength="9" required>
                                <div class="help-block" ng-if="labelForm.$submitted && labelForm.productLabel.$error.required">Label is required</div>
                            </div>
                        </div>
                        <div class="form-group" ng-switch-when="add" ng-class="{'has-error' : (labelForm.$submitted && labelForm.productQuantity.$error.required)}">
                            <label class="col-sm-4  control-label" required>Quantity</label>
                            <div class="col-sm-8"><input type="number" min="1" name="productQuantity" class="form-control" ng-model="productItem.quantity"
                                    style="width:100px" required>
                                <div class="help-block" ng-if="labelForm.$submitted && labelForm.productQuantity.$error.required">Quantity is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" ng-model="productItem.isFree"> Mark this as free item
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelLabeling()">Close</button>
                        <button type="submit" class="btn btn-primary" ng-click="saveLabelInfo(productItem)">Add</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div>
    <!-- /.modal -->
</div>
