<div class="container-fluid hidden-print" ng-controller="productDetailsController" ng-init="init()">
    <h1 class="page-header">Product Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/product/list">Product</a></li>
        <li class="active">Details</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <h3>
                            <small>{{ ::product.code }}</small><br/>{{ ::product.name }} - ({{ product.amount | number }})
                            <br/>
                            <small>{{ ::product.materialName }}</small>
                        </h3>
                        <small>{{ ::product.description }}</small>
                        <small class="label label-primary">{{ ::product.productType }}</small>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="empty-cards-holder" ng-if="product.compositeItems.length === 0">
                            <div class="header">No items to display here.</div>
                        </div>
                        <ul class="cards">
                            <li ng-repeat="compositeItem in product.compositeItems" class="card ui-widget-snap draggable-item">
                                <div class="card-content">
                                    <div class="title">
                                        {{ compositeItem.label }} <span ng-if="compositeItem.isFree" class="card-badge danger pull-right">Free</span>
                                    </div>
                                    <ul class="list">
                                        <li ng-repeat="item in compositeItem.items | limitTo:3 track by $index" ng-click="showMoreDetails(compositeItem.items)">
                                            <div class="small-text">
                                                <div>{{ ::item.code }} <span class="pull-right">{{ ::item.quantity}}</span></div>
                                                <div><strong>{{ ::item.name }}</strong></div>
                                                <small>{{ ::item.description }}</small>
                                            </div>
                                        </li>
                                    </ul>
                                    <div ng-if="compositeItem.items.length > 3"><span class="glyphicon glyphicon-option-horizontal pull-right" aria-hidden="true"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <!-- <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#confirmDialog">Delete</button> -->
                    </div>
                </div>
            </form>
        </div>
        <!-- <confirm-dialog confirm-message="'Are you sure you want to delete this?'" on-okay="updateDeleteStatus()"></confirm-dialog> -->
    </div>
</div>