<div class="container-fluid" ng-controller="customerCreateController" ng-init="init()">
    <h1 class="page-header">{{ isEditing ? "Edit Customer" : "New Customer" }}</h1>
    <ol class="breadcrumb">
        <li><a href="#/customer/list">Customers</a></li>
        <li class="active">{{ isEditing ? "Edit Customer" : "New Customer" }}</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-md">
            <div class="form-container">
                <form novalidate name="form" confirm-on-exit>
                    <div class="row" ng-if="errorMessage !== null">
                        <div class="col-sm-8">
                            <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group" ng-class="{'has-error' : (form.$submitted && form.name.$error.required)}">
                            <label required>Full Name</label>
                            <input type="text" name="name" ng-model="customer.name" class="form-control" required="" maxlength="500">
                            <span class="help-block" ng-if="form.$submitted && form.name.$error.required">Name is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : ((form.nic.$error.pattern && !form.nic.$pristine) || (form.$submitted && form.nic.$error.required))}">
                            <label required>NIC</label>
                            <input type="text" name="nic" ng-model="customer.nic" ng-pattern="nicValidateFormat" class="form-control" required="" maxlength="10"
                                ng-model-options="{ updateOn: 'blur' }">
                            <span class="help-block" ng-if="form.$submitted && form.nic.$error.required">NIC is required</span>
                            <span class="help-block" ng-if="(form.nic.$error.pattern && !form.nic.$pristine)">Invalid NIC</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Mobile No 1</label>
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="customer.mobile1" class="form-control"
                                    maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Mobile No 2</label>
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="customer.mobile2" class="form-control"
                                    maxlength="10">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fixed Line</label>
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="customer.fixedLine" class="form-control"
                                    maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Emergency Contact</label>
                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="customer.emergencyContact" class="form-control"
                                    maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Contact Name</label>
                                <input type="text" ng-model="customer.contactName" class="form-control" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error' : (form.email.$invalid && !form.email.$pristine)}">
                                <label>Email</label>
                                <input type="email" name="email" ng-model="customer.email" class="form-control" ng-model-options="{ updateOn: 'blur' }">
                                <span class="help-block" ng-if="form.email.$invalid && !form.email.$pristine">Invalid Email Address</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Language Preference</label>
                                <select class="form-control" searchable="false" style="width:100%" ng-options="type.value for type in languages" ng-model="selectedLanguage"
                                    ng-change="setSelectedLanguage()">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea name="address" ng-model="customer.address" rows="3" class="form-control" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.line.$error.required)}">
                            <label>Line Route</label>
                            <select name="line" class="form-control" data-placeholder="Please select" ng-model="$scope.customer.lineId" data-allow-clear="true"
                                ajax-data-url="/api/lines/search" ajax-data-cache="true" config="linesSearchConfig" style="width:100%"
                                required="">
                        </select>
                        </div>
                        <div class="col-sm-6 form-group date">
                            <label>Line Date(s)</label>
                            <input type="text" maxlength="10" name="lineDate" ng-model="customer.lineDate" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Other Information</label>
                                <textarea name="otherInfo" ng-model="customer.otherInfo" rows="2" class="form-control" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row" ng-if="showMap">
                        <div class="col-sm-12">
                            <map-location label="'Select Location'" latitude="customer.latitude" longitude="customer.longitude"></map-location>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-button-bar">
                                <div class="row">
                                    <div class="col-sm-3 text-left">
                                        <button type="button" class="btn btn-md btn-primary-outline" ng-click="backToList()">Back to List</button>
                                    </div>
                                    <div class="col-sm-9 text-right">
                                        <!--<button type="button" class="btn btn-md" ng-click="createNew()">Create New</button>-->
                                        <button ng-if="!isEditing" type="reset" class="btn btn-md btn-default">Reset</button>
                                        <button ng-if="showSaveButton" type="submit" class="btn btn-md btn-primary" ng-click="save(customer)">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>