<div class="container-fluid hidden-print" ng-controller="invoiceDetailsController" ng-init="init()">
    <h1 class="page-header">Invoice Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/item/list">Invoice</a></li>
        <li class="active">Details</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label>Invoice Code</label>
                        <input class="form-control" type="text" ng-model="invoice.code" readonly />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Customer</label>
                        <input class="form-control" type="text" name="customerName" ng-model="invoice.customerName" readonly/>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Sales Type</label>
                        <input type="text" ng-model="invoice.salesTypeName" class="form-control" readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Payment Method</label>
                        <input type="text" ng-model="invoice.paymentMethodName" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label>Invoiced Date</label>
                        <input type="text" ng-model="invoice.invoicedDate" class="form-control" readonly>
                    </div>
                    <div class="col-sm-2 form-group" ng-if="invoice.dueDate">
                        <label>Due Date</label>
                        <input type="text" ng-model="invoice.dueDate" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="invoice.otherInfo" rows="2" class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Invoice Items</label>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td><b>Item Code</b></td>
                                        <td><b>Inventory Code</b></td>
                                        <td><b>Name</b></td>
                                        <td class="text-right"><b>Price</b></td>
                                        <td class="text-right"><b>Quantity</b></td>
                                        <td class="text-right"><b>Sub Total</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in invoice.items track by $index">
                                        <td ng-bind="item.itemCode"></td>
                                        <td ng-bind="item.inventoryCode"></td>
                                        <td ng-bind="item.itemName"></td>
                                        <td class="text-right" ng-bind="item.price | number : 2"></td>
                                        <td class="text-right" ng-bind="item.quantity"></td>
                                        <td class="text-right" ng-bind="item.subTotal | number : 2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Total</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <input class="form-control text-right" type="text" format="currency" ng-model="invoice.total" readonly/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Discount Amount</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pull-right">
                        <input class="form-control text-right" type="text" format="currency" ng-model="invoice.discountAmount" readonly/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Net Amount</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pull-right">
                        <input class="form-control text-right" type="text" format="currency" ng-model="invoice.netAmount" readonly/>
                    </div>
                </div>
                <div class="row" ng-if="invoice.receivedAmount">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Received Amount</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pull-right">
                        <input class="form-control text-right" type="text" format="currency" ng-model="invoice.receivedAmount" readonly/>
                    </div>
                </div>
                <div class="row" ng-if="invoice.balanceAmount">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Balance Amount</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pull-right">
                        <input class="form-control text-right" type="text" format="currency" ng-model="invoice.balanceAmount" readonly/>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-2 text-left">
                        <a type="button" class="btn btn-md btn-primary" href="#/invoice/create">Create New</a>
                    </div>
                    <div class="col-sm-10 text-right">
                        <button type="button" class="btn btn-md btn-default" ng-click="backToList()">Back to List</button>
                        <button type="button" class="btn btn-md btn-default" ng-click="print()">Print</button>
                        <!--<button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#confirmDialog">Delete</button>-->
                    </div>
                </div>
            </form>
        </div>
        <confirm-dialog confirm-message="'Are you sure you want to cancel this?'" on-okay="updateDeleteStatus(invoice)"></confirm-dialog>
    </div>
</div>
<div id='print'></div>