<div class="container-fluid" ng-controller="invoiceDueListController" ng-init="init()">
    <h1 class="page-header">Due Payments</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Due Payments</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="false" enable-delete="false">
                <columns>
                    <invoiceCode header="Invoice Code"></invoiceCode>
                    <customer header="Customer"></customer>
                    <invoicedDate header="Invoiced Date"></invoicedDate>
                    <netAmount header="Invoice Amount" align="right" format="currency"></netAmount>
                    <dueDate header="Due Date"></dueDate>
                    <dueAmount header="Due Amount" align="right" format="currency"></dueAmount>
                </columns>
            </grid>
        </div>
    </div>
</div>