<div class="container-fluid" ng-controller="invoiceListController" ng-init="init()">
    <h1 class="page-header">Invoices</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Invoices</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="false" enable-delete="true">
                <actions>
                    <action text="Delete" command="delete"></action>
                </actions>
                <columns>
                    <code header="Code"></code>
                    <customer header="Customer"></customer>
                    <invoicedDate header="Invoiced Date"></invoicedDate>
                    <dueDate header="Due Date"></dueDate>
                    <salesTypeName header="Sales Type"></salesTypeName>
                    <paymentMethodName header="Payment Method"></paymentMethodName>
                    <total header="Total" align="right" format="currency"></total>
                    <netAmount header="Net Amount" align="right" format="currency"></netAmount>
                </columns>
            </grid>
        </div>
    </div>
</div>