<div class="container-fluid hidden-print" ng-controller="invoiceCreateController" ng-init="init()">
    <h1 class="page-header">New Invoice</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#/invoice/list">Invoice</a>
        </li>
        <li class="active">New Invoice</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" required>Sales Type</label>
                                    <select ng-disabled="invoice.items.length > 0" class="form-control" searchable="false" style="width:100%" ng-options="type.value for type in salesTypes"
                                        ng-model="selectedSalesType" ng-change="setSelectedSalesType()">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class=" form-group">
                                    <label class="control-label" required>Date</label>
                                    <input type="date" ng-model="invoice.invoicedDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Customer</label>
                                    <select class="form-control" data-placeholder="Please select" ng-model="invoice.customerId" data-allow-clear="true" ajax-data-url="/api/customers"
                                        ajax-data-cache="true" config="customerSearchConfig" style="width:100%">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label required>Inventory Item</label>
                            <select multiple class="form-control" data-placeholder="Please select" ng-model="selectedInventoryItem" data-allow-clear="true" ajax-data-url="/api/lookups/inventory-items"
                                ajax-data-cache="true" config="inventorySearchConfig" style="width:100%" role="option" tabindex="0">
                            </select>
                            <!-- <input type="text" item-search-autocomplete class="form-control"/> -->
                        </div>
                        <div class="invoice-list-wrapper">
                            <ul class="invoice-cards" ng-if="invoice.items.length > 0">
                                <li class="invoice-card" ng-repeat="item in invoice.items track by $index">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="secondry-text" ng-bind="item.inventoryCode"></div>
                                            <div class="font-bold" ng-bind="item.itemName"></div>
                                            <div>
                                                1 x
                                                <span ng-bind="item.price | number : 2"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <input id="item{{ item.inventoryId }}" type="number" min="1" ng-change="calculateSubTotal(item)" ng-model="item.quantity"
                                                class="form-control input-sm text-right" />
                                        </div>
                                        <div class="col-xs-3 font-bold text-right" ng-bind="item.subTotal | number : 2"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 invoice-payment-method-wrapper">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label" required>Payment Method</label>
                                            <select class="form-control" searchable="false" style="width:100%" ng-options="type.value for type in paymentTypes" ng-model="selectedPayType"
                                                ng-change="setSelectedPayType()">
                                            </select>
                                        </div>
                                        <div class="form-group" ng-if="invoice.paymentMethodName === 'Credit'" ng-class="{'has-error' : (form.$submitted && form.dueDate.$error.required && invoice.paymentMethodName === 'Credit')}">
                                            <label class="control-label" required>Due Date</label>
                                            <input type="date" name='dueDate' ng-model="invoice.dueDate" class="form-control" required>
                                            <span class="help-block" ng-if="form.$submitted && form.dueDate.$error.required && invoice.paymentMethodName === 'Credit'">Due Date is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="invoice-amount-wrapper">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Total</label>
                                                    <div class="col-sm-8">
                                                        <p class="form-control-static text-right" ng-bind="invoice.total | currency :'Rs. '"></p>
                                                    </div>
                                                </div>

                                                <div class="form-group" ng-class="{'has-error' : (form.$submitted && invoice.discountAmount > invoice.total)}">
                                                    <label class="control-label col-sm-4">Discount</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control text-right" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" ng-keyup="ajustDiscountValues()"
                                                            type="text" ng-model="invoice.discountAmount" format="currency" />
                                                    </div>
                                                    <span class="help-block" ng-if="form.$submitted && invoice.discountAmount > invoice.total">Discount Amount should be less than Total</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Net</label>
                                                    <div class="col-sm-8">
                                                        <p class="form-control-static text-right" ng-bind="invoice.netAmount | currency" class="pull-right"></p>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-class="{'has-error' : (form.$submitted && invoice.paymentMethodName !== 'Cheque' && invoice.receivedAmount < invoice.total)}">
                                                    <label class="control-label col-sm-4">Received</label>
                                                    <div class="col-sm-8">
                                                        <input name="receivedAmount" class="form-control text-right" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" ng-keyup="ajustBalanceAmount()"
                                                            type="text" ng-model="invoice.receivedAmount" format="currency" required/>
                                                    </div>
                                                    <span class="help-block" ng-if="form.$submitted && invoice.paymentMethodName === 'Cash' && invoice.receivedAmount < invoice.netAmount">Received Amount should be greater than Net Amount</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Balance</label>
                                                    <div class="col-sm-8">
                                                        <p class="form-control-static text-right" ng-bind="invoice.balanceAmount | currency"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="pinned-items-wrapper">
                            <h4>Pinned Items</h4>
                            <ul class="pinned-items">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Note</label>
                            <textarea name="otherInfo" ng-model="invoice.otherInfo" rows="2" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>
                <!-- footer bar -->
                <div class="row form-button-bar">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges(invoice, false)">Save</button>
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges(invoice, true)">Save &amp; Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="print"></div>