<div class="top-buffer">
    <a ng-if="adapter.createNewUrl" class="floating-button" ng-href="{{ adapter.createNewUrl }}" role="button" data-toggle="tooltip"
        data-placement="top" title="Add New Record">
    </a>
    <div class="form-window lg">
        <div class="grid-action-row">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="keyword" ng-model="keyword" placeholder="Keyword" class="form-control" ng-enter="search($event)"
                            />
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search($event)" ng-enter="search($event)" title="Search">
                                <i class="fa fa-search" ng-if="!loading" aria-hidden="true"></i>
                                <i class="spinner" ng-if="loading" aria-hidden="true"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="btn-group" role="group" ng-if="selectCount > 0">
                        <button class="btn btn-primary-outline" ng-repeat="action in actions" ng-click="onActionClick($event,action.command)" title="{{ action.text }}">{{ action.text }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="inner-container" ng-class="{'loading':loading}" ajust-loading>
                    <div ng-if="!loading && (data && data.recordCount === 0)" class="empty-message">
                        <div class="icon"></div>
                        <div ng-if="keyword.length > 0">
                        <p class="message">
                            Sorry we couldn't find any matches for <u>{{::keyword}}</u>
                        </p>
                        <span class="help-text">Maybe your search was too specific, please try searching with another term.</span>
                        </div>
                        <div ng-if="!keyword">
                            <p class="message">No Records Found</p>
                            <span class="help-text">Click on 'Plus' button to add new record here</span>
                        </div>
                    </div>
                    <p>
                        <span ng-if="selectCount > 0">{{selectCount}} Selected</span>
                        <span ng-if="selectCount == 0 && !loading && (data && data.recordCount > 0)">{{data.recordCount}} Record(s) found</span></p>

                    <table class="table table-hover table-border-outline" ng-if="!loading && data.recordCount > 0">
                        <thead>
                            <tr>
                                <th ng-if="selectable" class="table-select-column">
                                    <input type="checkbox" ng-model="allRowsSelected" ng-change="selectAll($event, allRowsSelected)" />
                                </th>
                                <th ng-repeat="col in columns" ng-bind="getColumnHeader(col)" ng-class="::{'text-center':col.align == 'center','text-right':col.align == 'right'}"></th>
                                <th ng-if="enableEdit || enableDelete" class="table-action-column">
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-if="showRecent">
                            <tr>
                                <td colspan="{{ colspan }}" class="group-header">
                                    Most recent records
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="showRecent">
                            <tr ng-repeat="row in recentData.records" ng-class="{'selected' : row.selected, 'inactive' : (row.isActive != undefined && !row.isActive) }">
                                <td ng-if="selectable">
                                    <i class="fa fa-square-o" aria-hidden="true" style="opacity:0.1"></i>
                                </td>
                                <td ng-repeat="col in columns" ng-bind="getColumnValue(row, col.name, col.format)" ng-class="::{'text-center':col.align == 'center','text-right':col.align == 'right'}"
                                    ng-dblclick="onRowClick($event,row,'details')"></td>
                                <td ng-if="enableEdit || enableDelete" class="table-action-column">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" ng-click="onRowClick($event,row,'details')">View</a></li>
                                            <li ng-if="enableEdit"><a href="#" ng-click="onRowClick($event,row,'edit')">Edit</a></li>
                                            <li ng-if="enableDelete"><a href="#" ng-click="onRowClick($event,row,'delete')">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="showRecent">
                            <tr>
                                <td colspan="{{ colspan }}" class="group-header">
                                    Everything else
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr ng-repeat="row in data.records" ng-class="{'selected' : row.selected, 'inactive' : (row.isActive != undefined && !row.isActive) }">
                                <td ng-if="selectable">
                                    <input type="checkbox" ng-model="row.selected" ng-change="selectRecord($event, row.selected)" />
                                </td>
                                <td ng-repeat="col in columns" ng-bind="getColumnValue(row, col.name, col.format)" ng-class="::{'text-center':col.align == 'center','text-right':col.align == 'right'}"
                                    ng-dblclick="onRowClick($event,row,'details')"></td>
                                <td ng-if="enableEdit || enableDelete" class="table-action-column">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" ng-click="onRowClick($event,row,'details')">View</a></li>
                                            <li ng-if="enableEdit"><a href="#" ng-click="onRowClick($event,row,'edit')">Edit</a></li>
                                            <li ng-if="enableDelete"><a href="#" ng-click="onRowClick($event,row,'delete')">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <paginate ng-if="!loading && data.recordCount > maxRecordCount" record-count="data.recordCount"></paginate>
                </div>
            </div>
        </div>
    </div>
</div>